@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Noto+Sans+KR:wght@100..900&display=swap');

$sub1: #333;
$sub2: #666;
$point: #c5a371;
$main: #fff;
$beige: #eae7e2;
$pb: #dbcebe;

$font-Kr: "Noto Sans KR", sans-serif;
$font-En: "Cinzel Decorative", serif;